<section class="section tile is-ancestor">
  <section class="tile is-parent is-wrap">
    <%= render 'users/show/user_card' if user_signed_in? %>
    <%= render 'users/show/nonuser_card' %>
  </section>
</section>
