<section class="hero is-small is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to Scrimdr
      </h1>
      <h2 class="subtitle">
        An easier way to set up scrims.
      </h2>
    </div>
  </div>
</section>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-parent is-4">
    <div class="tile is-child is-info">
      <section class="section is-size-5">
        <div class="container">
          <h1 class="title is-1">What is Scrimdr?</h1>
          <h2 class="subtitle is-3">Like a dating app for esports teams.</h2>
          <p>
            Scrimdr was created when a developer who loved competitive video games got sick of having to organise his team. The most painful part of being part of a amatuer esports teams is trying to find reliable scrims. Sure there is discord and some in game features that allow you to connect to other players. But Scrimdr takes all the effort out by letting you just swipe right on another team.
          </p>
        </div>
        <div class="container">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum repellendus officiis impedit voluptate quis illo porro cupiditate a exercitationem libero sint natus aperiam dolorum totam alias eum repudiandae soluta odio adipisci, est? Id eius necessitatibus soluta aspernatur aperiam aut dolorum. Eveniet similique culpa blanditiis sunt ipsum, aperiam neque recusandae eaque?
          </p>
        </div>
      </section>
    </div>
  </div>
  <div class="tile is-vertical is-parent buttons are-small">
    <section class="section tile is-child">
      <h1 class="title">New Player</h1>
      <h2 class="subtitle">Register yourself.</h2>
      <%= link_to 'Sign up', new_user_registration_path, class:"button is-link" %>
    </section>
    <section class="section tile is-child">
      <h1 class="title">New Team</h1>
      <h2 class="subtitle">Create a new team from players on your friend list.</h2>
      <a href="#" class="button is-link">Create Team</a>
    </section>
    <section class="section tile is-child">
      <h1 class="title">Find Scrims</h1>
      <h2 class="subtitle">Look for other teams to scrim.</h2>
      <a href="#" class="button is-link">Browse Teams</a>
    </section>
  </div>
</div>
